<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.monster.redsun.mapper.GasExchangeMapper">

    <insert id="inRepo"
            useGeneratedKeys="true"
            keyColumn="id"
    >
        insert into gas_exchange(in_time,input_id) values (#{inTime},#{id});
    </insert>

    <update id="outRepo" parameterType="com.monster.redsun.entity.GasExchange">
        update gas_exchange
        set ex_time = #{exTime},output_id = #{outputId},
            guest_id = #{guestId},money = #{money},remark = #{remark}
        where id = #{id}
    </update>

    <update id="updateExchange">
        update gas_exchange
        set ex_time = #{ex_time},output_id = #{output_id},input_id = #{input_id},
            guest_id = #{guest_id},money = #{money},remark = #{remark}
        where id = #{id}
    </update>

    <delete id="deleteOneById">
        delete from gas_exchange where id = #{id};
    </delete>

    <select id="selectAll" resultType="com.monster.redsun.entity.GasExchange">
        select * from gas_exchange;
    </select>

    <select id="selectPageVo" resultType="com.monster.redsun.entity.GasExchange">
        select * from gas_exchange
    </select>

    <select id="isExistInRepo" resultType="java.lang.Integer">
        select count(*) from gas_exchange where input_id = #{id} and output_id IS NULL;
    </select>


</mapper>